<div class="arriere-plan">
</div>

<div class="welcome-text">
    <div class="typewriter">
        <h1>
            Bienvenu sur l'application GestionStock
        </h1>
    </div>
</div>

<div class="contenaire-boutons">
    <div class="liste-boutton">
        <a routerLink="/ProduitH">
            <div class="bouton-nav">Homme</div>
        </a>
        <a routerLink="/ProduitF">
            <div class="bouton-nav">Femme</div>
        </a>
        <a routerLink="/ProduitE">
            <div class="bouton-nav">Enfant</div>
        </a>
    </div>
</div>